label Food Preferences

.form-check
  input.form-check-input(type="checkbox", name="foodPreferences", value="Vegetarian", id="foodVeg")
  label.form-check-label(for="foodVeg") Vegetarian

.form-check
  input.form-check-input(type="checkbox", name="foodPreferences", value="Non-Vegetarian", id="foodNonVeg")
  label.form-check-label(for="foodNonVeg") Non-Vegetarian

.form-check
  input.form-check-input(type="checkbox", name="foodPreferences", value="Jain", id="foodJain")
  label.form-check-label(for="foodJain") Jain

.form-check
  input.form-check-input(type="checkbox", name="foodPreferences", value="Vegan", id="foodVegan")
  label.form-check-label(for="foodVegan") Vegan
